body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
header .contenedor, .contenedor-otros{
	display: flex;
	justify-content: space-between;
}
.contenedor-otros ul{
	display: flex;
}

.contenedor-otros ul li{
	list-style: none;
	margin-right: 15px;
}

.contenedor-otros{
	width: 100%;
}
header ul{
	display: flex;
}
header ul li{
	list-style: none;
	margin-right: 15px; 
}

a{
	text-decoration: none;
}
.contenedor{
	max-width: 1280px;
	width: 90%;
	margin: auto;
}
.contenedor-otros{
	height: 100px;
	background:
	linear-gradient(rgba(84,93,220,.9),
	rgba(96,171,245,.9));
	background-size: cover;
}
header{
	background:
	linear-gradient(rgba(84,93,220,.9),
	rgba(96,171,245,.9)),
	url(../img/malpaso.jpg);
	height: 100vh;
	background-size: cover;
	responsive: 100%;
}
#contenedor-titulo-flex{
	display: flex;
	justify-content: center;
	margin: 18vh 0;
}
h1{
	font-size: 60px;
	color: #fff;
}
h2{
	font-size: 25px;
	color: #fff;
}
.calvillo{
	width: 90%;
}
.contenedor-titulo{
	text-align: center;
}
.contenedor-titulo a, #servicios a{
	font-size: 14px;
	color: #fff;
	background: #5cb8ff;
	padding: 14px 24px;
	width: 128px;
	display: inline-block;
}
p.logo{
	color: #fff;
	font-size: 20px;
}
nav ul li a{
	color:#fff;
}
h3{
	text-align: center;
	font-size: 55px;
	font-weight: normal;
}
#servicios  .contenedor-rutas{
	display: flex;
	justify-content: space-around;
}





#servicios .texto{
	width: 42%;
}
#ser{
	font-size: 20px;
}
.contenedor-servicios{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	color: #fff;
}
.servicio{
	width: 24%;
	padding: 34px 30px 38px 30px;
	border-radius: 10px;
	margin-bottom: 40px;
	position: relative;
}
.servicio h4{
	font-size: 30px;
	margin: 0;
}
.servicio p{
	margin-bottom: 20px;
	height: 194px;
}

.contenedor-servicios .violeta{
	background: linear-gradient(to top, #5055df, #6d68f3);
	box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37);
}
.contenedor-servicios .celeste{
	background: linear-gradient(to top, #40a8f9, #5cb8ff);
	box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);
}
.ondas{
	position: absolute;
	left: 0;
	bottom: 0;
}
.icono{
	float: right;
}
#rutasimg{
	width: 100px;
}
button.owl-prev, button.owl-next {
    font-size: 40px !important;
}
span{
	color: #71bcfa;
}
form{
	margin: 0 auto;
	padding: 15px;
	background:
	linear-gradient(rgba(84,93,220,.9),
	rgba(96,171,245,.9));
	height: 50px;
	background-size: cover;
	text-align: center;
}
form p{
	padding: 10px 0;
}

form p label{
	font-size: 18px;
	color: white;
}

form p input{
	background-color: #ffffff;
	border: 0;
	border-radius: 5px;
	display: block;
	margin-top: 5px;
	width: 98%;
	padding: 10px 10px;
	text-align: center;
}

form p button{
	background-color: #C567F7;
	border: 0;
	border-radius: 10px;
	width: 25%;
	padding: 10px 0;
	color: #ffffff;
	font-size: 25px;
	text-transform: uppercase;
}
footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background:
	linear-gradient(rgba(84,93,220,.9),
	rgba(96,171,245,.9));
	background-size: cover;
	text-align: center;
}
.contenedor-sesion{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
#iniciar{
	padding: 15px;
	color: #fff;
	background: #24282b;
}

#iniciar input[type="text"]{
	padding: 4px;
	height: 30px;
	width: 250px;
}
#iniciar input[type="password"]{
	padding: 4px;
	height: 30px;
	width: 250px;
}
#imagen-rutas{
	width: 90%;
	padding-right: 20px;
}
.ruta{
	text-align: center;
	height: 400px;
}
iframe{
	display: flex;
	width: 100%;
}

/*main col*/
article #main-col{
	float: left;
	width: 50%;
}

/*Servicios*/
ul#Servicios li{
	list-style: none;
	padding: 15px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	background-color: #e6e6e6;
}